DB_URL='url do banco de dados'
DB_USERNAME='usuario do banco de dados'
DB_PASSWORD='senha do banco de dados'
REDIS_URL=redis://localhost:6379/0
REDIS_TEMPERATURE_STREAM=skadi:leituras:temperatura
REDIS_TEMPERATURE_RETENTION_HOURS=72
EXPIRATION_TIME=3600
SECURITY_KEY='chave de segurança'
